<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div>
      {% for tome in site.tomes %} {% assign fixedUrl= tome.url | relative_url |
      prepend: site.data.env.siteRoot %} {% assign renderedContent= tome.content
      | markdownify %}
      <ul>
        <li>
          <a href="{{ fixedUrl }}"> {{ tome.name }} - {{ tome.color }} </a>
          {% include toc.html html=renderedContent base_url=fixedUrl %}
        </li>
      </ul>
      {% endfor %}
    </div>

    {{ content }}
  </body>
</html>
